<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

<div class="wallpaper">
	<div class="top-left">
		<img class="esc" src="images/logo.jpg">
		<div class="title">Surf Outreach</div>
	</div>

	<div class="top-right">
		<a class="newtrip-button" href="#/surfkids">Meet Us</a>
	</div>

	<div class="slogan">Dont Limit Your Challenges - Challenge Your Limits</div>

	<!-- <a href="#itinerary-pg"><img class="down-arrow" src="images/arrow-down-white.png"></a> -->

</div>