<div class="container">
	<a class="btn button-default" href="#/">Back</a>
	<div class="row">
		<div class="heading col-md-10 col-md-offset-1 "><h1>Surf Outreach Kids</h1></div>
	</div>
	<div class="row">
		<div class="col-md-4 page"><h5 class="rome"></h5></div>
		<div class="col-md-4 page"><h5 class="rome">Ziggy</h5></div>
		<div class="col-md-4 page"><h5 class="rome">Lolie</h5></div>
	</div>

	<div class="row">
		<div class="col-md-4 page"><img src="./images/safe_image.png"></div>
		<div class="col-md-4 page"><img src="./images/Ziggy.jpg"></div>
		<div class="col-md-4 page"><img src="./images/lolie.jpg"></div>	
	</div>

	<div class="row">
		<div class="col-md-4 page"><h5 class="rome">Roxy</h5></div>
		<div class="col-md-4 page"><h5 class="rome">Faeika</h5></div>
		<div class="col-md-4 page"><h5 class="rome">Sima</h5></div>
	</div>

	<div class="row">
		<div class="col-md-4 page"><img src="./images/roxy.jpg"></div>
		<div class="col-md-4 page"><img src="./images/Faeika.jpg"></div>
		<div class="col-md-4 page"><img src="./images/sima.jpg"></div>
	</div>
	<div class="row">
		<div class="col-md-4 page"><h5 class="rome">Name Surname</h5></div>
		<div class="col-md-4 page"><h5 class="rome">Name Surname</h5></div>
		<div class="col-md-4 page"><h5 class="rome">Name Surname</h5></div>
	</div>

	<div class="row">
		<div class="col-md-4 page"><img src=""></div>
		<div class="col-md-4 page"><img src=""></div>
		<div class="col-md-4 page"><img src=""></div>	
	</div>

	<div class="row">
		<div class="col-md-4 page"><h5 class="rome">Name Surname</h5></div>
		<div class="col-md-4 page"><h5 class="rome">Name, Surname</h5></div>
		<div class="col-md-4 page"><h5 class="rome">Name, Surname</h5></div>
	</div>

	<div class="row">
		<div class="col-md-4 page"><img src=""></div>
		<div class="col-md-4 page"><img src=""></div>
		<div class="col-md-4 page"><img src=""></div>
	</div>
</div>
